ur5e_2f_85_controller/src/ai_controller/checkpoint
ur5e_2f_85_controller/src/ai_controller/context
*.png
*.pt
*.pyc
context/*
.vscode
to_mount/*
ur5e_2f_85_controller/src/ai_controller/cond_module_*
ur5e_2f_85_controller/src/ai_controller/__pycache__